import { useState } from "react";
import { View } from '@/component/styleComponents/style';

function Index() {
  const [count, handleCount] = useState(0);
  return (
    <View>
      <button onClick={() => handleCount(count + 1)}>add+1</button>
    </View>
  );
}

export default Index;
